<html>
  <form>
    <div style="text-align-last: right; padding-right: 45%">
      <h1>Update Employees</h1>
      <input
        style="text-align-last: start"
        type="hidden"
        name="employee_id"
        id="employee_id"
        value="{{ data.employee_id }}"
        #employee_id
      /><br />
      <label><b>Employee Name</b></label
      >&nbsp;&nbsp;&nbsp;&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="name"
        id="name"
        #name
        value="{{ data.name }}"
      /><br />
      <label><b>Date of Birth</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="dob"
        id="dob"
        value="{{ data.dob }}"
        #dob
      /><br />
      <label><b>Salary</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="salary"
        id="salary"
        value="{{ data.salary }}"
        #salary
      /><br />
      <label><b>Joining Date</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="joining_date"
        id="joining_date"
        value="{{ data.joining_date }}"
        #joining_date
      /><br />
      <label><b>Status</b></label
      >&nbsp;
      <input
        style="text-align-last: start"
        type="text"
        name="status"
        id="status"
        value="{{ data.status }}"
        #status
      /><br /><br />
      <button
        type="submit"
        style="margin-right: 6%"
        (click)="
          Update(
            employee_id.value,
            name.value,
            dob.value,
            salary.value,
            joining_date.value,
            status.value
          )
        "
      >
        Update
      </button>
      <button type="button" style="margin-right: 15px">
        <a routerLink="/home" style="text-decoration: none; color: black"
          >Back</a
        >
      </button>
    </div>
  </form>
</html>
